/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */
/* HEADER */

/* @media (max-width: 992px) {
	.effetto-nav-mob {
		display: inline-block;
		vertical-align: middle;
		-webkit-transform: perspective(1px) translateZ(0);
		transform: perspective(1px) translateZ(0);
		box-shadow: 0 0 1px rgba(0, 0, 0, 0);
		position: relative;
		background: transparent;
		-webkit-transition-property: color;
		transition-property: color;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
	}

	.effetto-nav-mob:before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(225, 225, 225, 0.2);
		-webkit-transform: scaleX(0);
		transform: scaleX(0);
		-webkit-transform-origin: 50%;
		transform-origin: 50%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition-duration: 0.2s;
		transition-duration: 0.2s;
		-webkit-transition-timing-function: ease-out;
		transition-timing-function: ease-out;
	}

	.effetto-nav-mob:hover:before, .effetto-nav-mob:focus:before, .effetto-nav-mob:active:before {
		-webkit-transform: scaleX(1);
		transform: scaleX(1);
	}
} */


.navbar-brand .logo-big {
	width: 200px;
	/* margin-left: -20px; */
}

.nav-arrows-container {
	left: auto;
	z-index: 1;
	position: absolute;
	width: 100px;
	height: 100px;
	display: flex;
	text-align: center;
	cursor: pointer;
	opacity: 0.9;
	font-size: 40px;
	align-items: center;
	background: transparent;
	border: none;
	outline: none;
}

.nav-arrows-container svg {
	filter: drop-shadow(0px 1px 0.15px #B2B2B2);
}

button.hamburger {
	border: none;
	padding: 14px;
	margin: 0;
	background-color: transparent;
	outline: none;
	z-index: 3;
}

.hamburger {
	display: inline-block;
	cursor: pointer;
	position: relative;
	-webkit-transition-property: opacity, -webkit-filter;
	transition-property: opacity, -webkit-filter;
	transition-property: opacity, filter;
	transition-property: opacity, filter, -webkit-filter;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

.hamburger.is-active .hamburger-inner, .hamburger.is-active .hamburger-inner:after, .hamburger.is-active .hamburger-inner:before {
	background-color: #434343;
}

.hamburger-box {
	width: 20px;
	height: 15px;
	display: inline-block;
	overflow: hidden;
}

.hamburger-inner {
	display: block;
	top: 50%;
	margin-top: -1px;
}

.hamburger-inner, .hamburger-inner:after, .hamburger-inner:before {
	width: 20px;
	height: 2px;
	background-color: #434343;
	position: absolute;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: 0.15s;
	transition-duration: 0.15s;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease;
}

.hamburger-inner:after, .hamburger-inner:before {
	content: "";
	display: block;
}

.hamburger-inner:before {
	top: -7px;
}

.hamburger-inner:after {
	bottom: -7px;
}

.hamburger--spin .hamburger-inner {
	-webkit-transition-duration: 0.22s;
	transition-duration: 0.22s;
	-webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin .hamburger-inner:before {
	-webkit-transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
	transition: top 0.1s ease-in 0.25s, opacity 0.1s ease-in;
}

.hamburger--spin .hamburger-inner:after {
	-webkit-transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.1s ease-in 0.25s, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	transition: bottom 0.1s ease-in 0.25s, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.hamburger--spin.is-active .hamburger-inner {
	-webkit-transform: rotate(225deg);
	transform: rotate(225deg);
	-webkit-transition-delay: 0.12s;
	transition-delay: 0.12s;
	-webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
}

.hamburger--spin.is-active .hamburger-inner:before {
	top: 0;
	opacity: 0;
	-webkit-transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
	transition: top 0.1s ease-out, opacity 0.1s ease-out 0.12s;
}

.hamburger--spin.is-active .hamburger-inner:after {
	bottom: 0;
	-webkit-transform: rotate(-90deg);
	transform: rotate(-90deg);
	-webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
	transition: bottom 0.1s ease-out, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
	transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
	transition: bottom 0.1s ease-out, transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s, -webkit-transform 0.22s cubic-bezier(0.215, 0.61, 0.355, 1) 0.12s;
}

.hamburger-content {
	display: none;
	position: absolute;
	top: 0;
	right: 0;
	border-radius: 6px;
}

.hamburger--spin.is-active+.hamburger-content {
	display: block;
	z-index: 0;
}

.close {
	float: right;
	font-size: 1.5rem;
	font-weight: 700;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .5;
}

.close:hover {
	color: #000;
	text-decoration: none;
}

button.close {
	padding: 0;
	background-color: transparent;
	border: 0;
}

#ul-panel {
	border-bottom: 1px solid rgba(255, 255, 255, 0.7);
	padding-bottom: 1rem;
	padding-left: 1rem;
}

#ul-panel li {
	cursor: pointer;
	transition: all .2s ease;
}

#ul-panel li:hover {
	color: white;
}

/* APERTURA */
/* APERTURA */
/* APERTURA */
/* APERTURA */
/* APERTURA */
/* APERTURA */
/* APERTURA */
/* APERTURA */
/* APERTURA */

@media only screen and (min-width: 961px) {
	.apertura__ctn::before {
		margin-right: 17.1036363636%;
	}
}

.social-cnt.sticky {
	position: sticky;
	z-index: 1000;
	top: 93vh;
	width: fit-content;
	left: 100%;
	padding-right: 20px;
	/* transition: transform .5s ease-in-out; */
}

.social-cnt.sticky.mob img {
	/* transition: transform .5s ease-in-out; */
}


@media only screen and (max-width: 760px) {
	.social-cnt.sticky {
		flex-direction: column;
		top: 81%;
		padding-bottom: 20px;
	}

	.social-cnt.sticky.mob {
		/* transform: translate(-55px, 45px) rotate(90deg); */
		transform: translate(-105px, 45px) rotate(90deg);
		animation: fadeIn 2s;
		margin-right: -40px;
	}

	.social-cnt.sticky.animation {
		animation: fadeOut 2s;
	}

	@keyframes fadeIn {
		0% {
			opacity: 0;
		}

		100% {
			opacity: 1;
		}
	}

	@keyframes fadeOut {
		0% {
			opacity: 0;
		}

		50% {
			opacity: 1;
		}
	}

	.social-cnt.sticky.mob img {
		transform: rotate(-90deg);
	}
}

.apertura__imgwrapper {
	overflow: hidden;
	padding-inline: 0 !important;
}

.apertura__ctn::before {
	pointer-events: none;
}

.apertura {
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	padding-top: 1rem;
	padding-bottom: 0rem;
}

@media only screen and (max-width: 991px) {
	h1, .h1, h2, .h2, .display-4 {
		font-size: 1.7em !important;
	}
}

@media only screen and (max-width: 768px) {
	.apertura__content {
		margin-bottom: 0 !important;
	}

	.apertura__imgwrapper {
		padding-inline: 0;
	}

	.ctn {
		padding-inline: 5.3vw;
		margin-top: 0;
		padding-top: 0;
	}
}

@media only screen and (min-width: 961px) {
	.apertura {
		padding-top: 0rem;
		padding-bottom: 0rem;
	}

	.apertura__ctn::before {
		left: -5.3vw;
	}
}

.apertura__content {
	position: relative;
	z-index: 2;
	margin-bottom: 1rem;
}

@media only screen and (min-width: 961px) {
	.apertura__content {
		min-height: 55vh;
		height: 78vh;
		margin-bottom: 0;
	}
}

.apertura__ctn {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
	width: 100%;
	padding-bottom: 0;
}

.apertura__ctn::before {
	content: '';
	position: absolute;
	top: -41.5rem;
	right: -5.3vw;
	bottom: 6.5rem;
	left: -5.3vw;
	z-index: 1;
	background-color: rgba(245, 133, 152, 0.3);
	mix-blend-mode: multiply;
	transform-origin: 0 50%;
	transform: translate3d(0, 0, 0) scaleX(0);
	transition: transform 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.is-revealed .apertura__ctn::before {
	transform: translate3d(0, 0, 0) scaleX(1);
}

@media only screen and (min-width: 961px) {
	.apertura__ctn::before {
		right: 0;
		bottom: 0;
		left: -10.764vw;
		background-color: rgba(245, 133, 152, 0.3);
		mix-blend-mode: multiply;
		color: #FFF;
	}

	.apertura__ctn {
		padding-top: 5rem;
		padding-bottom: 0rem;
	}

	.apertura__alt .apertura__ctn {
		padding-bottom: 5rem;
	}
}

@media only screen and (min-width: 1620px) {
	.apertura__ctn::before {
		left: calc(((100vw - 1271px) / 2) * -1);
	}
}

.apertura__imgwrapper {
	position: relative;
}

.apertura__imgwrapper::after, .apertura__imgwrapper::before {
	content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 0;
}

.apertura__imgwrapper::before {
	background: #FFF;
	mix-blend-mode: multiply;
}

.apertura__alt .apertura__imgwrapper::before {
	bottom: 7rem;
}

.apertura__imgwrapper::after {
	background: #FFF;
	transform-origin: 100% 50%;
	transform: translate3d(0, 0, 0);
	transition: 1s 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
}

.is-revealed .apertura__imgwrapper::after {
	transform: translate3d(100%, 0%, 0);
}

@media only screen and (min-width: 961px) {
	.apertura__bg {
		-ms-flex-order: -1;
		order: -1;
	}

	.apertura__imgwrapper {
		position: absolute;
		top: 0;
		right: 0;
		z-index: -1;
		height: 100%;
	}

	.apertura__alt .apertura__imgwrapper::before {
		bottom: 0;
	}

	.apertura__imgwrapper::after, .apertura__imgwrapper::before {
		z-index: 1;
	}

	.apertura__imgwrapper::before {
		margin-right: 0;
	}
}

@media only screen and (max-width: 768px) {
	.apertura__imgwrapper {
		margin-top: 0 !important;
	}
}

.apertura__img, .apertura__imgmask {
	display: block;
	z-index: 0;
	width: 100%;
	height: 100%;
}

.apertura__img {
	-o-object-fit: cover;
	object-fit: cover;
	-o-object-position: center center;
	object-position: center center;
	transform-origin: 0 50%;
	transform: translate3d(0, 0, 0) scale(2);
	transition: transform 4s 0.5s cubic-bezier(0.215, 0.61, 0.355, 1);
}

@media only screen and (max-width: 991px) {
	.img-title {
		opacity: 0;
		animation: fadeIn 2s;
		animation-delay: 3s;
		animation-fill-mode: forwards;
		font-size: 14vw;
		margin-top: 20vw;
		width: 99%;
		max-width: 99vw;
	}

	.img-title.text {
		margin-top: 10vh;
	}
}
@media only screen and (max-width: 576px) {
	.img-title.text {
		margin-top: -20px;
	}
}

.img-title {
	position: absolute;
	max-width: 100%;
}

.img-title.text {
	filter: opacity(0.9);
}

.img-title.shape {
	z-index: -1;
	top: -110px;
	filter: opacity(0.4);
}

@media only screen and (max-width: 768px) {
	.img-title {
		width: 99vw;
		max-width: 100vw;
		top: 50%;
		left: 50%;
		transform: translateX(-50%);
	}
}

@media only screen and (min-width: 961px) {
	.img-title {
		opacity: 0;
		animation: fadeIn 2s;
		animation-delay: 3s;
		animation-fill-mode: forwards;
		font-size: 34vw;
		margin-top: -20vw;
		filter: opacity(0.8);
		width: 88%;
    max-width: 1000px;
	}
}

@media only screen and (max-width: 576px) {
	.img-title.shape {
		filter: opacity(0.7);
	}
}

.is-revealed .apertura__img {
	transform: translate3d(0, 0, 0) scale(1.02);
}

.overlay-item {
	position: absolute;
	top: 20px;
	right: 20px;
	bottom: auto;
	left: auto;
	width: 100%;
	transform: translate(-50%, -50%);
	left: 50%;
}

@media (max-width: 768px) {
	.overlay-item {
		position: absolute;
		top: 20px;
		right: 20px;
		bottom: auto;
		left: auto;
		width: 100%;
	}
}

.overlay-item--bottom-left {
	position: absolute;
	top: auto;
	right: auto;
	bottom: 20px;
	left: 20px;
}

.overlay-item--center-xy {
	position: absolute;
	top: 50%;
	right: auto;
	bottom: auto;
	left: 55%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-o-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.pushbar .close:before, .pushbar .close:after {
	background-color: #ffe7ee;
}

[class^="bi-"]::before, [class*=" bi-"]::before {
	vertical-align: -0.125em !important;
}

.titoloAlt {
	position: relative;
}

.titoloAlt h1 {
	font-size: 10.5rem;
	letter-spacing: 0;
	line-height: 0.7;
}

.titoloAlt .sovraimpressione {
	position: absolute;
	width: 100%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -70%);
	letter-spacing: 5px !important;
	font-size: clamp(1.1rem, 5vw, 2rem) !important;
}

@media only screen and (max-width: 991px) {
	.titoloAlt h1 {
		font-size: 5.9rem !important;
		letter-spacing: -1px;
	}

	.titoloAlt .sovraimpressione {
		letter-spacing: 8px;
		font-size: 2.3rem;
	}

	.h3 {
		font-size: 1.25rem;
	}

	.em-size-100, .em-size-110 {
		font-size: 0.9em;
	}

	.apertura__ctn {
		position: relative;
	}

	.apertura__content {
		position: static;
	}

	.overlay-item--center-xy {
		/* transform: translate(-55%, -35%); */
		transform: translate(-50%, -50%);
		left: 50%;
		top: 10%;
	}

	.img-title.shape {
		top: 50%;
		margin-top: 0;
	}
}

/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */
/* MAIN */

#start {
	position: relative;
	padding-block: 5vh;
	width: 100%;
}

#start #plant-bg {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: -2;
}

.framed-img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

.framed-img {
	border: 1px solid #ddd;
	border-radius: 4px;
	padding: 5px;
}

#wip {
	display: none;
}

.frase-wrapper {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

@media screen and (max-width: 960px) {
	.frase-wrapper {
		position: static;
	}
}

.parallax {
	/* The image used */
	background-image: url("../img/foto-lavoro.jpeg");

	/* Full height */
	height: 500px;

	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

@media only screen and (max-device-width: 991px) {
	.parallax {
		background-attachment: scroll;
	}
}

#porfolio {
	position: relative;
	width: 100%;
	margin: 0 auto;
	scroll-snap-type: x mandatory;
	/* overflow-x: scroll;
	white-space: nowrap; */
	font-size: 0;
}

.grid {
	width: 100%;
	font-size: 0;
}

.grid img {
	display: inline-block;
	width: 100%;
	height: auto;
}

@media (max-width: 991.98px) {
	.grid img {
		width: 50%;
		height: auto;
	}
}

#slider3d-sec {
	height: 730px;
}

#slider3d {
	position: relative;
	height: 800px;
	overflow: hidden;
}

.stage, .ring, .ring .img {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
	user-select: none;
}

.stage .ring .img {
	background-size: cover;
	background-position: 0;
	background-repeat: no-repeat;
}

.stage .ring .img.transition {
	transition: all .5s ease-in-out;
}

.stage {
	margin-top: -12vw;
	overflow: hidden;
}

.stage div, .stage svg {
	position: absolute;
}

.stage .container {
	perspective: 2000px;
	width: 300px;
	height: 500px;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@media only screen and (max-width: 576px) {
	#slider3d-sec {
		height: 700px;
	}

	.stage {
		margin-top: -28vw;
	}

	#slider3d {
		height: 700px;
	}

}


/* CONTATTI */
/* CONTATTI */
/* CONTATTI */
/* CONTATTI */
/* CONTATTI */
/* CONTATTI */
/* CONTATTI */
/* CONTATTI */
/* CONTATTI */

#contacts {
	background-image: url(../img/bg-f.png);
	background-color: rgba(254, 234, 240, 0.8);
}

.art--aliment-center {
	text-align: center;
}

.art-button {
	border-radius: 0 0 0 0;
	-webkit-transition: all 250ms ease-in-out;
	transition: all 250ms ease-in-out;
	font-size: 14px;
	background-color: rgba(245, 133, 152, 0.4) !important;
}

.art-button-light {
	display: inline-block;
	border: 1px solid;
	padding: 14px 31px 14px 31px;
	color: #434343;
	border-color: #434343;
}

.art-button-light:hover {
	background-color: rgb(255, 231, 238) !important;
}

.art-button-light:hover a {
	color: #434343;
}

.art-contact-info-widget {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	text-align: center;
}

.art-contact-info-widget .art-item {
	margin-bottom: 40px;
}

.art-contact-info-widget .art-item .art-icon {
	margin-bottom: 19px;
}

.art-contact-info-widget .art-item .art-title {
	margin-bottom: 10px;
}

.art-contact-info-widget .art-item .art-description {
	text-align: center;
	padding: 0 49px;
}

@media (max-width:1024px) {
	.art-contact-info-widget .art-item .art-description {
		padding: 0 24px;
	}
}

@media (max-width:767px) {
	.art-contact-info-widget .art-item .art-description {
		padding: 0 150px;
	}
}

@media (max-width:609px) {
	.art-contact-info-widget .art-item .art-description {
		padding: 0;
	}
}

.art-body-two-font {
	font-size: 16px;
	font-weight: 500;
	letter-spacing: .02em;
	line-height: 26px;
	text-transform: none;
}

.art-button {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: .1em;
	line-height: 20px;
	text-align: center;
	text-transform: uppercase;
}

.art-button {
	padding: 8px 10px;
	border-radius: 0;
	border: 0;
}

.art-button:hover {
	text-decoration: underline;
}

#contacts a, h6 {
	letter-spacing: .02em;
	color: #434343;
}

#contacts h6 {
	font-size: 20px;
	font-weight: 500;
	letter-spacing: .02em;
	line-height: 29px;
	color: #434343;
	text-transform: uppercase;
}

@media (max-width:767px) {
	#contacts h6 {
		font-size: 16px;
		font-weight: 500;
		letter-spacing: .02em;
		line-height: 23px;
		color: #434343;
	}
}


/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */
/* FOOTER */

footer {
	background-color: rgba(255, 231, 238, 0.7) !important;
}

footer p {
	font-size: inherit;
	line-height: 1.1;
}

footer a {
	text-decoration: none;
}

footer a:hover {
	color: #FFD5DF !important;
	text-decoration: none;
}

.social-cnt {
	cursor: pointer;
	gap: 10px;
	cursor: initial !important;
}